body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  margin: 0;
}

#roommate-selection {
  margin-bottom: 20px;
}

#link-container {
  margin-bottom: 20px;
}

.form-section {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

input, button {
  padding: 10px;
  margin-right: 5px;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f73;
}
